<table>
  <% i = 1 %>
  <h2><%="First num is #{@first_num}" %></h2>
  <% while [@first_num, @second_num].min != 0  do%>
    <% if @first_num < @second_num %>
      <% @second_num %= @first_num %>
    <% else %>
        <% @first_num %= @second_num %>
    <% end %>

    <tr>
      <th><%= i %></th>
      <td><%= @first_num %></td>
      <td><%= @second_num  %></td>
    </tr>

    <% i += 1 %>
  <% end %>
</table>
